@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald&family=Signika+Negative:wght@700&family=Teko:wght@500&family=Tiro+Bangla:ital@1&display=swap");
@import url("assets\animation.scss");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  margin: auto;
}

$display: flex;

a {
  text-decoration: none;
}
header {
  padding: 14px 89px 13px 89px;
  flex-shrink: 0;
  background: var(--White, #fff);
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  img {
    width: 197px;
    height: 36px;
    padding: 0px 19px 0px 16px;
  }
}

//mixin

@mixin center-flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
header,
nav {
  @include center-flex();
}
nav {
  width: 100%;
  height: 50px;
  background: var(--Grey-2, #eaeaea);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 17px;
  flex-shrink: 0;
}

//variables

$primary-color: #000;

h2,
h3
 {
  color: $primary-color;
}

h1,
h2,
h3,
h4,
.txt,
.filter__white,
li {
  font-family: "Roboto";
  font-style: normal;
  line-height: normal;
}

h1,
.filter__dark {
  /* Button */
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

h2 {
  /* Section Title */
  font-size: 24px;
  font-weight: 700;
}

//variables
$secondary-color: var(--Grey, #353535);

h1,
.txt {
  color: $secondary-color;
}

.filter__white {
  font-size: 16px;
  font-weight: 500;
}

.menu_reservation-card p {
  text-align: center;
  /* Paragraph */
  font-size: 18px;
  font-weight: 300;
}
/*section*/
section {
  display: $display;
  flex-direction: column;
  gap: 10px;
}

/*section reservation-card*/
.menu_reservation-card {
  background: var(--Background, #F6F6F6);
  width: 100%;
h2 {
    text-align: center;
    padding: 30px 56px 0px;
  }
.txt {
  font-family: sans-serif;
  text-align: center; 
  /* Paragraph */
  font-size: 18px;
  font-weight: 300;
  padding: 0 56px;
}
button.filter__dark {
  align-self: center;
  background: linear-gradient(170deg, #ff79da, #9747ff);
  border: none;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 57px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 4px 4px 2px lightgrey;
  color:$secondary-color ;
}
}
/*section filter-card
 button*/
.filter-card {
  background: var(--White, #FFF);
  h2 {
    text-align: start;
    margin:40px 25px 20px;
  }
  .btn {
    display: $display;
    flex-direction: column;
    gap: 20px;
    margin: 0px 25px 68px;
  }
  .filter__white {
    display: $display;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    border: none;
    background: var(--Background, #f6f6f6);
    /* Shadow/Instructions */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 25px;
  }
}

/*section menu restaurant*/
.menu__restaurant {
  background: var(--Background, #F6F6F6);
  h2 {
    text-align: start;
    margin: 40px 25px 20px;
  }
  .restaurant__card {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 0px 25px 68px;
    
  }
  .card {
    border-radius: 15px;
    background: var(--White, #FFF);
    /* Shadow/Card */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .legende {
    position: relative;
  }
  .title {
    position: absolute;
    top: 10%;
    left: 70%;
    right: 5%;
    padding: 7px;
    border-radius: 2px;
    background: var(--Green, #99e2d0);
    /* Shadow/Badge */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--Green-Font, #008766);
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: normal;
  }
  .card img {
    width: 100%;
    height: 221px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .card-txt {
    padding: 15px;
    padding-bottom: 10px;
  }
  .card-txt i {
    display: $display;
    justify-content: end;
    color: $primary-color;
    padding-top: 10px;
  }
  h3 {
    font-size: 18px;
    font-weight: 700;
  }
  .txt {
    font-size: 17px;
    font-weight: 300;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  background: $secondary-color;
  h4 {
    
    color:var(--White, #FFF);
    font-family: 'Shrikhand', serif;
    font-size: 18px;
    font-weight: 400;
  }
  li {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 16px; 
    font-weight: 500; 
    list-style-type: none; 
  }
  .fa-solid {
    margin-right: 9px;
  }
  a {
    color: inherit;
  }
}
footer .contact {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
/* MEDIA QUERIES*/
/*Tablet*/
@media (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filter-card .btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .filter-card {
    display: flex;
    padding: 50px 180px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
  }
  .menu__restaurant {
    display: flex;
    padding: 0px 180px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
  }
  footer {
    display: flex;
    padding: 30px 25px;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 16px;
    flex-shrink: 0;
  }
  footer .contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 27px;
  }
}

