@import "https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";
@import './libs/animationHomePage.scss';
@import './libs/mediaquery.scss';
@import './libs/variablesHomePage.scss';
@import './libs/mixinHomePage.scss';
@import './libs/PageRestaurants.scss';
@import './libs/animationPageRestaurants.scss';
@import './libs/loader.scss';

/*style for home page*/
/*style for restaurant page*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*body*/
body {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: var(--Background, #F6F6F6);
}
/*link*/
a {
  text-decoration: none;
}
/*header style*/
header {
  display: flex;
  height: 63px;
  justify-content: center;
  align-items: center;
  padding: 14px 89px 13px 89px;
  flex-shrink: 0;
  background: $couleur-back;
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  img{
    height: 36px;
    padding: 0px 19px 0px 16px;
  }
}
/*navigation style*/
nav {
  height: 50px;
  background: var(--Grey-2, #eaeaea);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 17px;
  flex-shrink: 0;
}
/*color for text*/
h2,
h3,
.card-title
 {
  color: $primary-color;
}
/*color for text*/
h1,
.card-text {
  color: $secondary-color;
}
/*style*/
a,
.card-title,
.card-text,
h1,
h2,
h3,
.txt,
.filter__white,
li {
  font-family: "Roboto";
  font-style: normal;
  line-height: normal;
}

h4 {
  color:$couleur-back;
  font-family: 'Shrikhand', serif;
  font-size: 18px;
  font-weight: 400;
  margin-right: 30px;
}

h1,
.filter__dark,
.filter__white {
  /* Button */
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
/*size for h2*/
.menu_reservation-card h2,
.filter-card h2,
#menu__restaurant h2 {
@include sizeH2 ();
}
/*section reservation-card*/
.menu_reservation-card {
  @include color-palet ();
  width: 100%;
h2 {
    text-align: center;
    padding: 30px 56px 0px;
  }
.txt {
  font-family: sans-serif;
  text-align: center; 
  /* Paragraph */
  font-size: 18px;
  font-weight: 300;
  padding: 0 56px;
}
.filter__dark {
  align-self: center;
  background: linear-gradient(170deg, #ff79da, #9747ff);
  border: none;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 57px;
  border-radius: 25px; 

 &:hover{
  @include animationFilterDarks ();
}
a{
  color: $couleur-back;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
}
}
/*section filter-card
 button*/
.filter-card {
  background: $couleur-back;
  h2 {
    text-align: start;
    margin:40px 25px 20px;
  }
  .btn {
    @include flex-structure;
    gap: 20px;
    margin: 0px 35px 68px;
  }
  .filter__white {
    @include flex-structure;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    border-radius: 20px;
    border: none;
    background: var(--Background, #f6f6f6);
    /* Shadow/Instructions */
    padding: 25px;

  &:hover {
  @include animationFilter-card ();
  cursor: pointer;
  }
}
.fa-store:before{
  color: var(--Primary, #9356DC);
}

.number {
 color: $couleur-back;
 border-radius: 50%;
 border: 1px solid transparent;
 background:var(--Primary, #9356DC);
 padding: 5px 10px;
 color: $couleur-back;
 font-size: 14px;
 position: absolute;
 left: -15px;
}
}
/*section menu restaurant*/
#menu__restaurant {
  @include color-palet ();
  h2 {
    margin: 40px 25px 20px;
  }
  .restaurant__card {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 0px 25px 68px;
  }
  article.card {
    border-radius: 15px;
    background: $couleur-back;
    
    &:hover{
      @include animationFilterCardImg (); 
      }
  }
  .legende {
    position: relative;
  }
  .title {
    position: absolute;
    top: 10%;
    right: 5%;
    padding: 7px;
    border-radius: 2px;
    background: var(--Green, #99e2d0);
    /* Shadow/Badge */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--Green-Font, #008766);
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: normal;
  }
  .card img {
    width: 100%;
    height: 231px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .card-content {
    padding: 15px;
  }
  .icon {
    color: black; /* Couleur de l'icône (orange dans cet exemple) */
    float: right; /* Alignement à droite */
    margin-top: -20px;
    margin-right: 20px;
    font-size: 20px;
  }
 i{
  position: absolute;
}
    .my-heart-full {
      opacity: 0;
      transition-property: all;
      transition-duration: 3s;
    }
    .my-heart-full:hover {
      @include animationIconHeart ();
    }
  .h3 {
    font-size: 18px;
    font-weight: 700;
  }
  .card-text {
    font-size: 17px;
    font-weight: 300;
    font-family: sans-serif;
  }
}

/*footer style*/
footer {
  @include flex-structure;
  gap: 16px;
  padding: 22px 25px;
  background: $secondary-color;
  
  li {
    color: rgba(255, 255, 255, 1);
    list-style-type: none; 

    &:hover {
      @include listEven ();
    }
  }
  .fa-solid {
    margin-right: 13px;
    width: 11.918px;
  }
  a {
    color: inherit;
    font-family: sans-serif;
    font-size: 16px; 
    font-weight: 500; 
  }
}
footer .contact {
  @include flex-structure;
  gap: 7px;
}

/* MEDIA QUERIES*/
/*Tablet*/
@media (min-width: 768px) {
  @include tabletQueriesMediaHomePage ();
}
/*Media queries*/
/*desktop and large desktop*/

@media (min-width: 1024px) {
  @include desktopQueriesMediaHomePage ();
}  



