//restaurant page compiled with style.scss

body {
    background: var(--White, #FFF);
}

.content_header {
    padding: 14px 89px 13px 17px;
    gap: 42px;
    flex-shrink: 0;
    justify-content: space-between;

    .principal-title {
        position: absolute;
        margin-left: 20%;
    }

    h4 {
    color: var(--Black, #101010);
    text-align: center;
    font-size: 30px;
    }

    .fa-arrow-left {
        color:rgba(53, 53, 53, 1);
        width: 30px;
        font-size: 20px;
        z-index: 1;
}
}

figure {
   display: block;

.background-image {
    width: 100%;
    height: 275px;
    object-fit: cover;
}
}

.main-container {
    background: var(--Background, #F6F6F6);
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    border-radius: 25px 25px;
    gap: 40px;
}

.contents {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin: 32px 17px 0;

    .fa-heart {
        font-size: 35px;

    &:hover {
        @include animationIconHeart ();
        
    }

    &:active {
        background: #ff79da;
    }
    }
        h4{
        color: var(--Black, #101010);
        font-size: 28px;  
        font-weight: 400; 
        margin: 0; 
    }
}

//section
      .menu_enter,
      .menu_plat,
      .menu_dessert {
         @include flex-structure;
         gap: 12px;
         margin: 12px;       
        
         .card-text, h3{
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 300;
          font-family: sans-serif;
         }      
          .btn {
              @include flex-structure;
              gap:12px;
          }      
          .filter__white {
              padding: 15px;
              border: none;
              display: flex;
              justify-content: space-between;
              height: 69px;
              align-items: center;
              border-radius: 15.043px;
              background: var(--White, #FFF);
              box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);  
          }
          h3
             {
            font-family: 'Roboto';
            text-transform: none;
            overflow: hidden;
            color: #000;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 18px;
            font-weight: 500;
          }
          .menu_text {
            @include flex-structure;
            gap: 5px;
            overflow: hidden;            
             .card-text-1 {
                overflow: hidden;
                color: #000;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 15.043px;
                font-style: normal;
                font-weight: 300;
                line-height: normal; 
                font-family: sans-serif;
              }
          }
      }

      .menu_enter{
        animation: scroll 3s linear;
      }

      @keyframes scroll {
        0% { transform: scale(0.5);}
        100% { transform: scale(1);}
    }

    .menu_plat {
        animation: beetwen 5s linear;
    }

    @keyframes beetwen {
        0% { transform: scale(0);}
        50% {transform: scale(0.5);}
        100% { transform: scale(1);}
    }

    .menu_dessert {
        animation: afte 8s linear;
    }

    @keyframes afte {
        0% { transform: scale(0);}
        50% {transform: scale(0.25);}
        75% {transform: scale(0.5);}
        100% { transform: scale(1);}
    }

      .command{
          gap: 40px;
          margin-bottom: 40px;

      .filter__dark{
        @include flex-structure;
        align-self: center;
        background: linear-gradient(170deg, #ff79da, #9747ff);
        border: none;
        padding: 15px;
        border-radius: 25px; 
        width: 186px;
        height: 50px;
        flex-shrink: 0;

        a{
            color: var(--White, #FFF);
            text-align: center;
            /* Button */
            font-size: 16px;
            font-weight: 500;  
        }
      
       &:hover{
        @include animationFilterDarks ();
      }
      }
      }

      //span animation

      /*media queries for tablette breakpoint 768px*/

      @media (min-width:768px) {
         @include tabletQueriesMediaPageRestaurant ();
      }

      /*media queries for desktop breakpoint 1024px*/

      @media (min-width:1024px) {
        @include desktopQueriesPagesRestaurant ();
      }


    


    
    

    
