.loader {
    position: fixed;
    display: grid;
    place-items: center;
    background:$secondary-color;
    inset: 0;
    transform-origin: top;
    z-index: 1;
    opacity: 75%;
    animation-duration: 1s;
    transform-origin: 50% 50%;
    animation: disappear 3s forwards;
    animation-delay: 1s;
    
    &::after {
        content: "Ohmyfood";
        color: $primary-color;
        font-family:'Shrikhand', serif;
        font-size: 55px;
    }
}

.fa-spin {
    font-weight: bold;
    color: $pink-color;
    font-size: 98px;
}

@keyframes disappear {
    90% {
      opacity: 0.7;
    }
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }