// animation for page restaurant
/* section --> menu_enter
           --> menu_plat
           --> menu_dessert */
/*apparition avec retard 3s pour chaque bloc*/

.enter {
    animation: scroll 2s linear;
        }
    
            @keyframes scroll {
                0% { transform: scale(0);}
                100% { transform: scale(1);}
            }   
    
    .plat {
    animation: beetwen 2s linear;
            }   
            @keyframes beetwen {
                0% { transform: scale(0);}
                100% { transform: scale(1);}
            } 
    
    .dessert {
    animation: afte 2s linear;
            }   
            @keyframes afte {
                0% { transform: scale(0);}
                100% { transform: scale(1);}
            }

// Animation for span
.check_animation:hover {
   transition: 1s;
}

.check_animation {
    display: none;
}

.filter__white:hover .check_animation 
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 4rem;
    cursor: pointer; 
}

span.price:hover .check_animation {
    width: 100px; /* Largeur du span lorsque survolé */
}


