/* MEDIA QUERIES*/
/*Tablet*/

@media (min-width: 768px) {
  /*section bouton filter*/
.filter-card .btn {
    flex-direction: row;
    gap: 50px;

    .filter__white {
         padding: 10px 20px;
    }
  }
/*section menu restaurant*/
  #menu__restaurant {
    gap: 28px;
  
    h2{
      margin-bottom: 0px;
    }

 .restaurant__card {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr;
  }
}
/*footer*/
  footer {
    padding: 30px 25px;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-bottom: 30px;
  }

  footer .contact {
    flex-direction: row;
    gap: 27px;
  }
}

//Responsive desktop 

@media (min-width: 1024px) {
  body {
    margin: auto;
  }
/*header*/
  header {
    height: 96px;
    padding: 30px 0px 31.798px 0px;  
  }
/*main*/
  main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  /*section menu reservation*/
  .menu_reservation-card,
  h2{
  font-size: 40px;
  font-weight: 700;
  }
  /*section bouton filter*/
  .filter-card {
    padding: 50px 180px;
    align-items: flex-start;
    gap: 25px;

  .filter-card, h2 { 
    font-size: 24px;
    margin: 0px;
  }
  }
  .filter-card .btn {
    margin: 0px 2px 0px 15px;
  
    .filter__white {
      padding: 20px 30px;
    }
  }
  /*section menu restaurant*/
  #menu__restaurant {
    padding: 0px 180px;  
  }
  #menu__restaurant h2 {
    margin:0px;
    font-size: 24px;
  } 
  
  #menu__restaurant .restaurant__card {
    margin: 0px 0px 28px;
    width: 100%;
    gap: 50px 100px;
  }
  }

//Media queries for page restaurant

/* MEDIA QUERIES*/
/*Tablet*/

@media (min-width: 768px) {
  .principal-title {
    position: absolute;
    margin-left: 70%;
}

  .contents {
   justify-content: center;
  }
  .main-container {
    margin-right: 10%;
    margin-left: 10%;
  }
}
/* MEDIA QUERIES for desktop*/

@media(min-width: 1024px) {
  .contents {
    justify-content: center;
    gap: 60px;
  }
  .menu_enter,
      .menu_plat,
      .menu_dessert  {
    margin-right: 15%;
    margin-left: 15%;
  }
}

