@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald&family=Signika+Negative:wght@700&family=Teko:wght@500&family=Tiro+Bangla:ital@1&display=swap");
@import url("assets\animation.scss");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
}

a {
  text-decoration: none;
}

header {
  padding: 14px 89px 13px 89px;
  flex-shrink: 0;
  background: var(--White, #fff);
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header img {
  width: 197px;
  height: 36px;
  padding: 0px 19px 0px 16px;
}

header,
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  height: 50px;
  background: var(--Grey-2, #eaeaea);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 17px;
  flex-shrink: 0;
}

h2,
h3,
p,
p2,
p {
  color: #000;
}

h1,
h2,
h3,
h4,
p2,
.filter__white {
  font-family: "Roboto";
  font-style: normal;
  line-height: normal;
}

h1,
.filter__dark {
  /* Button */
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

h2 {
  /* Section Title */
  font-size: 24px;
  font-weight: 700;
}

h1,
.txt {
  color: var(--Grey, #353535);
}

.filter__white {
  font-size: 16px;
  font-weight: 500;
}

.menu_reservation-card p {
  text-align: center;
  /* Paragraph */
  font-size: 18px;
  font-weight: 300;
}

/*section*/
section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

/*section reservation-card*/
.menu_reservation-card {
  margin-top: 40px;
  background: var(--Background, #F6F6F6);
}
.menu_reservation-card h2 {
  text-align: center;
}
.menu_reservation-card button.filter__dark {
  align-self: center;
  background: linear-gradient(170deg, #ff79da, #9747ff);
  border: none;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 4px 4px 2px lightgrey;
  color: var(--White, #fff);
}

/*section filter-card
 button*/
.filter-card {
  margin-left: 25px;
  margin-right: 25px;
}
.filter-card h2 {
  text-align: start;
}
.filter-card .btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filter-card .filter__white {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  border: none;
  background: var(--Background, #f6f6f6);
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 25px;
}

/*section menu restaurant*/
.menu__restaurant {
  margin: 40px;
  margin-left: 25px;
  margin-right: 25px;
}
.menu__restaurant h2 {
  text-align: start;
}
.menu__restaurant .restaurant__card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.menu__restaurant .card {
  border-radius: 15px;
  background: #fff;
  /* Shadow/Card */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.menu__restaurant .legende {
  position: relative;
}
.menu__restaurant .title {
  position: absolute;
  top: 10%;
  left: 70%;
  right: 5%;
  padding: 7px;
  border-radius: 2px;
  background: var(--Green, #99e2d0);
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--Green-Font, #008766);
  text-align: center;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: normal;
}
.menu__restaurant .card img {
  width: 100%;
  height: 221px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.menu__restaurant .card-txt {
  padding: 15px;
  padding-bottom: 10px;
}
.menu__restaurant .card-txt i {
  display: flex;
  justify-content: end;
  color: #000;
  padding-top: 10px;
}
.menu__restaurant h3 {
  font-size: 18px;
  font-weight: 700;
}
.menu__restaurant .txt {
  font-size: 17px;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  padding: 22px 25px;
  gap: 16px;
  background: var(--Grey, #353535);
}
footer h4 {
  color: var(--White, #fff);
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 140px;
  height: 27px;
  flex-shrink: 0;
}
footer li {
  color: var(--White, #fff);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  list-style-type: none;
}
footer .fa-solid {
  margin-right: 9px;
}
footer .contact {
  gap: 7px;
}
footer a {
  color: inherit;
}

/* MEDIA QUERIES*/
/*Tablet*/
@media (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin: auto;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .filter-card .btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .filter-card {
    display: flex;
    padding: 50px 180px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
  }
  .menu__restaurant {
    display: flex;
    padding: 0px 180px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
  }
  footer {
    display: flex;
    padding: 30px 25px;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 16px;
    flex-shrink: 0;
  }
  footer .contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 27px;
  }
}

/*# sourceMappingURL=style.css.map */
