@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";
/* MEDIA QUERIES*/
/*Tablet*/
/* MEDIA QUERIES*/
/*Tablet*/
/* MEDIA QUERIES for desktop*/
/*structure de la page*/
header,
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

section, #menu__restaurant, .filter-card, .menu_reservation-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body {
  background: var(--White, #FFF);
}

.content_header {
  padding: 14px 89px 13px 17px;
  gap: 42px;
  flex-shrink: 0;
  justify-content: space-between;
}
.content_header .principal-title {
  position: absolute;
  margin-left: 20%;
}
.content_header h4 {
  color: var(--Black, #101010);
  text-align: center;
  font-size: 30px;
}
.content_header .fa-arrow-left {
  color: rgb(53, 53, 53);
  width: 30px;
  font-size: 20px;
  z-index: 1;
}

figure {
  display: block;
}
figure .background-image {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.main-container {
  background: var(--Background, #F6F6F6);
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  border-radius: 25px 25px;
  gap: 40px;
}

.contents {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin: 32px 17px 0;
}
.contents .fa-heart {
  font-size: 35px;
}
.contents .fa-heart:hover {
  opacity: 1;
  color: transparent;
  background: #ff79da;
  background-clip: text;
  -webkit-background-clip: text;
}
.contents .fa-heart:active {
  background: #ff79da;
}
.contents h4 {
  color: var(--Black, #101010);
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

.menu_enter,
.menu_plat,
.menu_dessert {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px;
}
.menu_enter .card-text, .menu_enter h3,
.menu_plat .card-text,
.menu_plat h3,
.menu_dessert .card-text,
.menu_dessert h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  font-family: sans-serif;
}
.menu_enter .btn,
.menu_plat .btn,
.menu_dessert .btn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu_enter .filter__white,
.menu_plat .filter__white,
.menu_dessert .filter__white {
  padding: 15px;
  border: none;
  display: flex;
  justify-content: space-between;
  height: 69px;
  align-items: center;
  border-radius: 15.043px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
}
.menu_enter h3,
.menu_plat h3,
.menu_dessert h3 {
  font-family: "Roboto";
  text-transform: none;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}
.menu_enter .menu_text,
.menu_plat .menu_text,
.menu_dessert .menu_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}
.menu_enter .menu_text .card-text-1,
.menu_plat .menu_text .card-text-1,
.menu_dessert .menu_text .card-text-1 {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-family: sans-serif;
}

.menu_enter {
  animation: scroll 3s linear;
}

@keyframes scroll {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.menu_plat {
  animation: beetwen 5s linear;
}

@keyframes beetwen {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.menu_dessert {
  animation: afte 8s linear;
}

@keyframes afte {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.25);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.command {
  gap: 40px;
  margin-bottom: 40px;
}
.command .filter__dark {
  display: flex;
  flex-direction: column;
  align-self: center;
  background: linear-gradient(170deg, #ff79da, #9747ff);
  border: none;
  padding: 15px;
  border-radius: 25px;
  width: 186px;
  height: 50px;
  flex-shrink: 0;
}
.command .filter__dark a {
  color: var(--White, #FFF);
  text-align: center;
  /* Button */
  font-size: 16px;
  font-weight: 500;
}
.command .filter__dark:hover {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/*media queries for tablette breakpoint 768px*/
@media (min-width: 768px) {
  .principal-title {
    position: absolute;
    margin-left: 70%;
  }
  .contents {
    justify-content: center;
  }
  .main-container {
    margin-right: 10%;
    margin-left: 10%;
  }
}
/*media queries for desktop breakpoint 1024px*/
@media (min-width: 1024px) {
  .contents {
    justify-content: center;
    gap: 60px;
  }
  .menu_enter,
  .menu_plat,
  .menu_dessert {
    margin-right: 15%;
    margin-left: 15%;
  }
}
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background: #353535;
  inset: 0;
  z-index: 1;
  opacity: 82%;
  animation: disappear 3s forwards;
  animation-delay: 1s;
  transform-origin: top;
}
.loader::after {
  content: "Ohmyfood";
  color: black;
  font-family: "Shrikhand", serif;
  font-size: 25px;
}

.fa-spin {
  font-weight: bold;
  color: #9356DC;
  font-size: 98px;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
/*style for home page*/
/*style for restaurant page*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*body*/
body {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: var(--Background, #F6F6F6);
}

/*link*/
a {
  text-decoration: none;
}

/*header style*/
header {
  display: flex;
  height: 63px;
  justify-content: center;
  align-items: center;
  padding: 14px 89px 13px 89px;
  flex-shrink: 0;
  background: #fff;
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header h4 {
  color: var(--Black, #101010);
  text-align: center;
  font-family: "Shrikhand";
  font-size: 30px;
  font-weight: 400;
  margin: auto;
}

/*navigation style*/
nav {
  height: 50px;
  background: var(--Grey-2, #eaeaea);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 17px;
  flex-shrink: 0;
}

/*color for text*/
h2,
h3,
.card-title {
  color: #000;
}

/*color for text*/
h1,
.card-text {
  color: #353535;
}

/*style*/
a,
.card-title,
.card-text,
h1,
h2,
h3,
.txt,
.filter__white,
li {
  font-family: "Roboto";
  font-style: normal;
  line-height: normal;
}

h4 {
  color: #fff;
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
  margin-right: 30px;
}

h1,
.filter__dark,
.filter__white {
  /* Button */
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

/*size for h2*/
main {
  display: flex;
  flex-direction: column;
}

/*section reservation-card*/
.menu_reservation-card {
  background: var(--Background, #F6F6F6);
  width: 100%;
}
.menu_reservation-card h2 {
  text-align: center;
  padding: 30px 56px 0px;
}
.menu_reservation-card .txt {
  font-family: sans-serif;
  text-align: center;
  /* Paragraph */
  font-size: 18px;
  font-weight: 300;
  padding: 0 56px;
}
.menu_reservation-card .filter__dark {
  align-self: center;
  background: linear-gradient(170deg, #ff79da, #9747ff);
  border: none;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 57px;
  border-radius: 25px;
}
.menu_reservation-card .filter__dark:hover {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.menu_reservation-card .filter__dark a {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

/*section filter-card
 button*/
.filter-card {
  background: #fff;
}
.filter-card h2 {
  text-align: start;
  margin: 40px 25px 20px;
}
.filter-card .btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px 35px 68px;
}
.filter-card .filter__white {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  border-radius: 20px;
  padding: 20px 40px;
  border: none;
  background: var(--Background, #F6F6F6);
  /* Shadow/Instructions */
}
.filter-card .filter__white:hover {
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.filter-card .fa-store:before {
  color: var(--Primary, #9356DC);
}
.filter-card .number {
  color: #fff;
  border-radius: 50%;
  border: 1px solid transparent;
  background: var(--Primary, #9356DC);
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: -15px;
}

/*section menu restaurant*/
#menu__restaurant {
  background: var(--Background, #F6F6F6);
}
#menu__restaurant h2 {
  margin: 25px 25px 20px;
}
#menu__restaurant .restaurant__card {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0px 25px 68px;
}
#menu__restaurant article.card {
  border-radius: 15px;
  background: #fff;
}
#menu__restaurant article.card:hover {
  /* Shadow/Card */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
#menu__restaurant .legende {
  position: relative;
}
#menu__restaurant .title {
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 7px;
  border-radius: 2px;
  background: var(--Green, #99e2d0);
  /* Shadow/Badge */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--Green-Font, #008766);
  text-align: center;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: normal;
}
#menu__restaurant .card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
#menu__restaurant .card-content {
  padding: 15px;
}
#menu__restaurant .icon {
  color: black; /* Couleur de l'icône (orange dans cet exemple) */
  float: right; /* Alignement à droite */
  margin-top: -20px;
  margin-right: 20px;
  font-size: 20px;
}
#menu__restaurant i {
  position: absolute;
}
#menu__restaurant .my-heart-full {
  opacity: 0;
  transition-property: all;
  transition-duration: 3s;
}
#menu__restaurant .my-heart-full:hover {
  opacity: 1;
  color: transparent;
  background: #ff79da;
  background-clip: text;
  -webkit-background-clip: text;
}
#menu__restaurant .icon:active {
  background-color: #ff79da;
}
#menu__restaurant .h3 {
  font-size: 18px;
  font-weight: 700;
}
#menu__restaurant .card-text {
  font-size: 17px;
  font-weight: 300;
  font-family: sans-serif;
}

/*footer style*/
footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  background: #353535;
}
footer li {
  color: rgb(255, 255, 255);
  list-style-type: none;
}
footer li:hover {
  cursor: pointer;
}
footer .fa-solid {
  margin-right: 13px;
  width: 11.918px;
}
footer a {
  color: inherit;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
}

footer .contact {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/* MEDIA QUERIES*/
/*Tablet*/
@media (min-width: 768px) {
  /*section bouton filter*/
  .filter__white {
    padding: 10px;
  }
  .filter-card .btn {
    flex-direction: row;
    gap: 50px;
  }
  /*section menu restaurant*/
  #menu__restaurant {
    gap: 28px;
  }
  #menu__restaurant h2 {
    margin-bottom: 0px;
  }
  #menu__restaurant .restaurant__card {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr;
  }
  /*footer*/
  footer {
    padding: 30px 25px;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-bottom: 30px;
  }
  footer .contact {
    flex-direction: row;
    gap: 27px;
  }
}
/*Media queries*/
/*desktop and large desktop*/
@media (min-width: 1024px) {
  body {
    margin: auto;
  }
  /*header*/
  header {
    height: 96px;
    padding: 30px 0px 31.798px 0px;
  }
  /*main*/
  main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  /*section menu reservation*/
  .menu_reservation-card,
  h2 {
    font-size: 40px;
    font-weight: 700;
  }
  /*section bouton filter*/
  .filter-card {
    padding: 50px 180px;
    align-items: flex-start;
    gap: 25px;
  }
  .filter-card .filter-card, .filter-card h2 {
    font-size: 24px;
    margin: 0px;
  }
  .filter-card .btn {
    margin: 0px 2px 0px 20px;
  }
  /*section menu restaurant*/
  #menu__restaurant {
    padding: 0px 180px;
  }
  #menu__restaurant h2 {
    margin: 30px 0px 0px 0px;
    font-size: 24px;
  }
  #menu__restaurant .restaurant__card {
    margin: 0px 0px 28px;
    width: 100%;
    gap: 50px 100px;
  }
}

/*# sourceMappingURL=style.css.map */
