//mixin
/*structure de la page*/
@mixin flex-structure() {
    display: flex;
    flex-direction: column;
  }
@mixin center-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header,
  nav {
    @include center-flex();
  }

  //heritage avec la fonction include et extend pour la section
section {
    @include flex-structure;
    gap: 10px;
  }
  
  #menu__restaurant, .filter-card, .menu_reservation-card {
    @extend section;
  }

// format text

@mixin SetPolicy () {
  font-family: "Roboto";
  font-style: normal;
  line-height: normal;
}

@mixin TwoPolice () {
  color:$couleur-back;
  font-family: 'Shrikhand', serif;
  font-size: 18px;
  font-weight: 400;
}

//animation button filter card
@mixin animationFilter-cards () {
  /* Shadow/Instructions */
 box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

//animation card in section menu restaurant 
@mixin animationFilterCardImgs () {
/* Shadow/Card */
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

@mixin animationIconHeart () {
opacity: 1;
color: transparent;
background: #ff79da;
background-clip: text;
-webkit-background-clip: text;
}

//animation list in footer

@mixin listEven () {
cursor: pointer;
}



  