//mixin
/*structure de la page*/
@mixin flex-structure() {
    display: flex;
    flex-direction: column;
  }
@mixin center-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header,
  nav {
    @include center-flex();
  }

  //heritage avec la fonction include et extend pour la section
section {
    @include flex-structure;
    gap: 10px;
  }
  
  #menu__restaurant, .filter-card, .menu_reservation-card {
    @extend section;
  }

// format text

@mixin SetPolicy () {
  font-family: "Roboto";
  font-style: normal;
  line-height: normal;
}

@mixin TwoPolice () {
  color:$couleur-back;
  font-family: 'Shrikhand', serif;
  font-size: 18px;
  font-weight: 400;
  margin-right: 30px;
}





  