//variables

//color section for menu reservation card and menu restaurant
@mixin color-palet () {
    background: var(--Background, #F6F6F6);
}

// size for h2
@mixin sizeH2 () {
    $font-size: 24px;
    $font-weight: 700;
}

//variation color
/*use for page */
$couleur-back: #fff;
$primary-color: #000;
$secondary-color: #353535;
$pink-color: var(--Primary, #9356DC);
